.navbar{
    border-radius: 1rem;
    padding: 0;
}
.navlink{
    padding: 1rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
}
.navlink:hover{
    background-color: rgba(13, 110, 253, 0.3);
    cursor: pointer;
}

